body {  
  margin: 0;
  width: 1280px;
  height: 720px;
  
  background: #2F2E41;
}

header {
  width: 1080px;
  height: 30px;
  margin: 70px 100px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

main {
  margin: 100px 100px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;  
    
}

#img1 {
  margin-top: 100px;
}

.text {  
  display: flex;
  align-items: center;
  flex-direction: column;
}

  
h1 {
  font-family: 'JetBrains Mono', monospace;  
  font-size: 36px;  
  text-align: center;
  color: #FFFFFF;  
}

h1 span {
  color: #C2C2C2;
}

p {
  width: 600px;
    
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;  
  font-size: 16px;  
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}